# Gradle & Android
.gradle/
build/
**/build/
*.apk
*.aab
local.properties
.idea/
*.iml
.DS_Store

# Node Server
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs & Cache
*.log
*.hprof
/tmp/
